@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #F1F1F1; 
  background: #F1F1F1;
  font-family: 'Metropolis', sans-serif;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.bullet {
  position: relative;
  margin-left: 10px; /* Align the text */
  padding-left: 15px; /* Space for the bullet */
  font-weight: 600; /* Make the heading bold */
}

.bullet::before {
  content: '•'; /* Bullet point */
  position: absolute;
  left: 0;
  color: #B99B5F; /* Bullet color */
  font-size: 1.2rem; /* Bullet size */
  font-weight: bold;
}


